@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
/* logo */

header a{
    text-decoration: none;
    display: flex;
}
#header-logo{
    width: 75px;
    height: 75px;
    
}

/*menu*/

/* .header-ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-ul li{
    list-style: none;
    font-weight: 600;
}

.header-ul li a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.header-ul li a:hover{
    border-bottom: 2px solid white;
} */


/*botao*/
.header-div-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-btn-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}

.header-btn-logo:hover{
    background-color: white;
    box-shadow: 0 0 20px white;
}

.header-btn-logo a{
    text-decoration: none;
}

.header-btn-logo a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    
    font-size: 24px;
    color: white;
}

.header-btn-logo a i:hover{
    font-size: 24px;
    color: black;
}
/* main-1*/

main{
    width: 100vw;
    height: 80vh;
    display: flex;
    background-color: black;
}

.left{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-text{
    width: 40vw;
    height: 50vh;
    padding: 40px;
}

#left-text h1{
    font-size: 92px;
    color: white;
}

#nome{
    font-weight: 700;
}

#left-text span{
    font-weight: 700;
}

#senai{
    color: rgb(255, 128, 0);
    font-weight: 700;
}

#left-text p{
    font-size: 24px;
    color: white;
}

.right{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-luiz{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}


/*footer*/

footer{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont-2{
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-cont-2:hover{
    background-color: white;
    box-shadow: 0 0 20px white;
}

.btn-cont-2 a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    width: 120px;
    height: 50px;
}

.btn-cont-2 a:hover{
    color: black;
}

.btn-cont-2 i{
    font-size: 16px;
}

.mobile-menu{
        display: none;
        cursor: pointer;
    }
    
    .mobile-menu div{
        width: 32px;
        height: 2px;
        background-color: white;
        margin: 8px;
    }

/*celular*/

@media (max-width: 480px) {
    
    main{
        flex-direction: row;
    }
    .left{
    }
    #left-text{
        padding: 0;
        width: 50vw;
        height: 80vh;
    }
    #left-text h1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        height: 20vh;
    }
    #left-text p{
        width: 99vw;
        height: 60vh;
        padding: 20px;
    }
    .right{
        width: 50vw;
        height: 20vh;
    }
    #img-luiz{
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }
}   
/*tablet*/

@media (min-width: 481px) and (max-width: 768px) {

    main{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    #header-logo{
        width: 125px;
        height: 125px;
    }
    .header-btn-logo{
        width: 80px;
        height: 80px;
    }

    .header-btn-logo a i{
        width: 80px;
        height: 80px;
        font-size: 50px;
        color: white;
    }
    .header-btn-logo a i:hover{
    font-size: 50px;
    color: black;
    }

    .left{
        width: 100vw;
        height: 50vh;
        align-items: baseline;
    }
    #left-text h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 106px;

    }
    #left-text{
        padding: 50px;
        width: 100vw;
        height: 40vh;
    }
    #left-text p{  
        font-size: 36px;
    }
    .right{
        border: 1px solid red;
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
    }
}



/* 


.header-btn-logo a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
}

.header-btn-logo a i:hover{
    font-size: 24px;
    color: black;
} */ 

/*notbook*/


@media (min-width: 769px) and (max-width: 1279px) {

}