@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body.dark{
    --bg: black;
    --text: white;
    --senai: rgb(255, 128, 0);
}

body.dark .ri-moon-line{
    display: none;
}

body.dark #header-a-dark{
    display: none;
}




body.white{
    --bg: white;
    --text: black;
    --senai: rgb(255, 128, 0);
}
body.white .ri-sun-line{
    display: none;
}

body.white #header-a-white{
    display: none;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg);
}
/* logo */

header a{
    text-decoration: none;
    display: flex;
}

#header-a-white{
    text-decoration: none;
    display: flex;
}

#header-logo-white{
    width: 75px;
    height: 75px; 
}

#header-a-dark{
    text-decoration: none;
    display: flex;
}

#header-logo-dark{
    width: 75px;
    height: 75px;
}

/*menu*/

/* .header-ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-ul li{
    list-style: none;
    font-weight: 600;
}

.header-ul li a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.header-ul li a:hover{
    border-bottom: 2px solid white;
} */


/*botao*/
.header-div-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-btn-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: var(--bg);
    cursor: pointer;
    transition: 0.5s;
}

.header-btn-logo:hover{
    background-color: var(--text);
    box-shadow: 0 0 20px var(--text);
}

.header-btn-logo a{
    text-decoration: none;
}

.header-btn-logo a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: var(--text);
}

.header-btn-logo a i:hover{
    font-size: 24px;
    color: var(--bg);
}

.mudar-tema{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--text);
    border-radius: 50px;
    background-color: var(--bg);
    cursor: pointer;
    transition: 0.5s;
}

.mudar-tema:hover{
    background-color: var(--bg);
    box-shadow: 0 0 20px var(--text);
}

.mudar-tema a{
    text-decoration: none;
}

.mudar-tema a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: var(--text);
}

.mudar-tema i{
    color: var(--text);
    font-size: 24px;
}

.mudar-tema a i:hover{
    font-size: 24px;
    color: var(--text);
}

/* main-1*/

main{
    width: 100vw;
    height: 80vh;
    display: flex;
    background-color: var(--bg);
}

.left{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-text{
    width: 40vw;
    height: 50vh;
    padding: 40px;
}

#left-text h1{
    font-size: 92px;
    color: var(--text);
}

#nome{
    font-weight: 700;
}

#left-text span{
    font-weight: 700;
}

#senai{
    color: var(--senai);
    font-weight: 700;
}

#left-text p{
    font-size: 24px;
    color: var(--text);
}

.right{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-luiz{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--text);
    box-shadow: 0 0 20px var(--text);
}


/*footer*/

footer{
    width: 100vw;
    height: 10vh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont-2{
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: var(--text);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-cont-2:hover{
    background-color: var(--text);
    box-shadow: 0 0 20px var(--text);
}

.btn-cont-2 a{
    text-decoration: none;
    font-size: 14px;
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    width: 120px;
    height: 50px;
}

.btn-cont-2 a:hover{
    color: var(--bg);
}

.btn-cont-2 i{
    font-size: 16px;
}

/*celular*/

@media (max-width: 480px) {
    
    main{
        flex-direction: row;
    }
    .left{
    }
    #left-text{
        padding: 0;
        width: 50vw;
        height: 80vh;
    }
    #left-text h1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        height: 20vh;
    }
    #left-text p{
        width: 99vw;
        height: 60vh;
        padding: 20px;
    }
    .right{
        width: 50vw;
        height: 20vh;
    }
    #img-luiz{
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }
}   
/*tablet*/

@media (min-width: 481px) and (max-width: 768px) {

    main{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    #header-logo{
        width: 125px;
        height: 125px;
    }
    .header-btn-logo{
        width: 80px;
        height: 80px;
    }

    .header-btn-logo a i{
        width: 80px;
        height: 80px;
        font-size: 50px;
        color: white;
    }
    .header-btn-logo a i:hover{
    font-size: 50px;
    color: black;
    }

    .left{
        width: 100vw;
        height: 50vh;
        align-items: baseline;
    }
    #left-text h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 106px;

    }
    #left-text{
        padding: 50px;
        width: 100vw;
        height: 40vh;
    }
    #left-text p{  
        font-size: 36px;
    }
    .right{
        border: 1px solid red;
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
    }
}



/* 


.header-btn-logo a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
}

.header-btn-logo a i:hover{
    font-size: 24px;
    color: black;
} */ 

/*notbook*/


@media (min-width: 769px) and (max-width: 1279px) {

}