@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
/* logo */

header a{
    text-decoration: none;
    display: flex;
}
#header-logo{
    width: 75px;
    height: 75px;
    
}

/*menu*/

.header-ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-ul li{
    list-style: none;
    font-weight: 600;
}

.header-ul li a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.header-ul li a:hover{
    border-bottom: 2px solid white;
}

/*botao*/
.header-div-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-btn-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}

.header-btn-logo:hover{
    background-color: white;
    box-shadow: 0 0 20px white;
}

.header-btn-logo a{
    text-decoration: none;
}

.header-btn-logo a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
}

.header-btn-logo a i:hover{
    font-size: 24px;
    color: black;
}
/* main-1*/

main{
    width: 100vw;
    height: 80vh;
    display: flex;
}

.left{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-text{
    width: 40vw;
    height: 50vh;
    padding: 40px;
}

#left-text h1{
    font-size: 92px;
}

#nome{
    font-weight: 700;
}

#left-text span{
    font-weight: 700;
}

#senai{
    color: rgb(255, 128, 0);
    font-weight: 700;
}

#left-text p{
    font-size: 24px;
}

.right{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-luiz{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 20px black;
}


/*footer*/

footer{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cont-2{
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: black;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-cont-2:hover{
    background-color: white;
    box-shadow: 0 0 20px white;
}

.btn-cont-2 a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    width: 120px;
    height: 50px;
}

.btn-cont-2 a:hover{
    color: black;
}

.btn-cont-2 i{
    font-size: 16px;
}